<object type="application/x-shockwave-flash" height="160" width="160" data="http://www.usflashmap.com/component/flash_clock/flash_clock.swf">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="http://www.usflashmap.com/component/flash_clock/flash_clock.swf" />
<param name="base" value="http://www.usflashmap.com/component/flash_clock/" />
<param name="flashvars" value="
      &gmt=540&
      &dl_start=undefined&
      &dl_end=undefined&
      &bodycolor=0x0066ff&
      &scolor=0xff0000&
      &facecolor=0xcccccc&
      &bodyflare=true&
      &faceflare=true&
      &numeralcolor=0x000000&
      &labelarray=RakionVN.net&
      &labelTextField=0:45:160:25&
      &dataTextField=0:160:160:25&
      &timeTextField=0:95:160:25&
      &showlabelTextField=true&
      &showdataTextField=true&
      &showtimeTextField=true&
      &labelTextFieldStyle=<p align='center'><font face='Arial' color='#000000' size='18'><b>[]</b></font></p>&
      &dataTextFieldStyle=<p align='center'><font face='Arial' color='#000000' size='18'><b>[]</b></font></p>&
      &timeTextFieldStyle=<p align='center'><font face='Arial' color='#000000' size='18'><b>[]</b></font></p>&
      &clock_type=analog&
      &clock_sound=false&
      &imagearray=flags/kr.gif&
      &time_style=12&
" />
<param name="quality" value="high" />
<param name="scale" value="noscale" />
<param name="salign" value="lt" />
<param name="bgcolor" value="#ffffff" />
</object>
